@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%content {
  font-size: 1.1em;
  line-height: 1.4em;
}