<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %} – HowToAcceptCrypto.com</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
  <header>
    <h1>{% block h1 %}{% endblock %}</h1>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <span>© 2018 <a href="https://howtoacceptcrypto.com">HowToAcceptCrypto.com</a></span>
  </footer>
{% block scripts %} {% endblock %}
</body>
</html>