{% extends 'base.html' %}
{% block content %}
<section class='example-block checkout'>
  <h2>Checkout</h2>
  <div class='content'>
    <div class="item">
      <div><img src="{{ url_for('static', filename='images/items/pipe.jpg') }}"></div>
      <div>
        <span class="item-name">Tobacco Pipe</span>
        <span class="price">$200</span>
      </div>
    </div>
    <form method="post" action="{{ url_for('.new_order') }}">
      <div class="fill">
        <div>
          <label for="first-name">
            First name
            <span class="required">*</span>
          </label>
          <input id="first-name" type="text" required>
        </div>
        <div>
          <label for="last-name">
            Last name
            <span class="required">*</span>
          </label>
          <input id="last-name" name="last-name" type="text" required>
        </div>
        <div>
          <label for="address">
            Address
            <span class="required">*</span>
          </label>
          <input id="address" name="address" type="text" required>
        </div>
        <div>
          <label for="zip-code">
            Zip code
            <span class="required">*</span>
          </label>
          <input id="zip-code" name="zip-code" type="text" required>
        </div>
        <div>
          <label for="city">
            City
            <span class="required">*</span>
          </label>
          <input id="city" name="city" type="text" required>
        </div>
        <div>
          <label for="country">
            Country
            <span class="required">*</span>
          </label>
          <input id="country" name="country" type="text" required>
        </div>
        <div>
          <label for="email">
            Email
            <span class="required">*</span>
          </label>
          <input id="email" name="email" type="email" required>
        </div>
        <div></div>
        {% block payment_options %}
        {% endblock %}
      </div>
      <div class="complete-order-button">
        {% block complete_order_button %}
          <input type="submit" value="Complete order">
        {% endblock %}
      </div>
    </form>
  </div>
</section>
{% endblock %}