{% extends 'base.html' %}
{% block content %}
<section class='example-block order'>
  <h2>Order</h2>
  <div class="content">
    <div class="item">
      <div>
        <img src="{{ url_for('static', filename=item.image_filename) }}">
      </div>
      <div>
        <span class="item-name">{{ item.name }}</span>
        <span class="price">{{ item.price }}</span>
      </div>
    </div>
    <div class="order-info">
      {% block order_info %}
      <div class="info-item">
        <span>Order number:</span>
        <span>{{ order.id }}</span>
      </div>
      <div class="info-item">
        <span>Status:</span>
        <span>{{ invoice.status }}</span>
      </div>
      {% endblock %}
    </div>
    {% block payment %}
    <div class="pay-button">
      <a class="button-fill" href="{{ invoice.url }}" target="_blank">
        Pay with {{ processor.name }}
      </a>
    </div>
    {% endblock %}
  </div>
</section>
{% endblock %}